html, video{
    min-height: 80%;
}
body, video{
    /*background-image: url("/home/valency/Imágenes/background.png");*/
    position: absolute;
    margin: auto;
    padding: auto;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.conteiner{
   border-radius: 20px;
   height: 400px;
   margin: 50px; 
   /* esto lo podemos mejorar */
   margin-bottom: 60px; 
   margin-left: 200px;
   margin-right: 200px;
   padding: 200px;
}
.sleeve{
    height: 450px;
    width: 700px;
   margin: 30px auto; 
    background-color: rgba(255, 255, 255, 0.5);
}
.registro{
    text-align: center;
    font-size: 30px;
    font-family:'Times New Roman';
    color: antiquewhite;
    height: 40px;
}
.subtitulo{
    text-align: center;
    font-size: 20px;
    font-family:'Times New Roman';
    color: antiquewhite;
    /*falta ver la posicion del texto*/
    margin-top: auto;
    height: 10px;
}
/*
h2{
    text-align: center;
    font-size: 20px;
    font-family:'Times New Roman';
    color: antiquewhite; 
    height: 0px;
}
h3{
    text-align: center;
    font-size: 20px;
    font-family:'Times New Roman';
    color: rgb(14, 145, 132); 
    height: 0px;
}


/* html{
    min-height: 100%;
}
body{
    background-image: url("/fondo.jpeg");
     /*linear-gradient(
        115deg,
        rgba(74, 74, 80, 0.8),
        rgba(73, 73, 150, 0.7)
    )url("fondo.jpeg"); */
    /* font-family: sans-serif;
    padding: 20px; 
} */
/* .conteiner{
    background-color: aquamarine;
  padding: 500px;
  margin: 500px; 
} */ 
/* .registration{
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
} */

/* h1{
    text-align: center;
    color: antiquewhite;
    font-size:40px;
    margin-top: 0; 
    margin-bottom: 100px;
}
.Registration{
    width: auto;
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
} */