html, video{
    min-height: 80%;
}
body{
    background-image: url("/home/valency/Imágenes/fondo.png");
    font-family: sans-serif;
    background-attachment: fixed ;
}
.titulo{
    font-family: sans-serif;
    font-size: 40px;
    color: #fff; 
    line-height: 0;
    text-align: center;
}
.subtitulo{
    font-family: sans-serif;
    font-size: 20px;
    color: #fff; 
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 0;
}
.container{
    border-radius: 20px;
    height: 900px;
    width: 700px;
    margin: 30px auto; 
    background-color: rgba(255, 255, 255, 0.5);
}

label, legend {
    margin-left: 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff; 
    display: block;
    /*margin: 0.5rem 0;*/
}
input, select{
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
}

fieldset{
    border: none;
    padding: 2rem 0;
}